@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-dark: #0B0F19  ;
    --color-primary: #6366F1 ;
    --color-gray600: #9397ad ;
    --color-white: #ffffff ;
    --color-gray300: #e2e5f1 ;
    --color-gray900: #0b0f19;
    --color-gray700: #565973; 
    --color-gray100: #f3f6ff;
    --color-gray500: #b4b7c9;
    --color-gray400: #d4d7e5;
    --color-gray800: #33354d;
    --color-green: #22c55e;

    --container-padding: 1rem;
    --transition-time: all 0,2s;
}



* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) 
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}


a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}



.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: var(--color-gray600);
    color: var(--color-white);
    text-decoration: none;
}

.btn-primary i {
    margin-right: 0.5rem;
}

.btn-download-app {
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-download-app:hover {
    background-color: var(--color-gray600);
    color: var(--color-white);
    text-decoration: none;
}


.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-circle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-gray700);
    background-color: var(--color-white);
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch-input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray600);
    transition: all 0.2s;
}

.toggle-switch .slider:before {
    position:absolute;
    content:"";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50px;
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none; 
}

.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {

    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-gray600);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .credit {
        display: none;
    }
}

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

.brand-box {
    border: 1px solid var(--color-gray300);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        gap: 3rem;
       
    }

    footer {

    .credit {
        display: block;
    }
}


#brands {
    display: block;

}

#brand-1, #brand-2 {
    display: none;
}
}


@media (min-width: 1400px) {
    .container {
    max-width: 1320px;
    }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
       }

       .navbar {
        display: block;
    }
      
      
       #auth-signin {
        display: block;
    }

    .btn-mobile {
        display: none;
    }

#brand-1, #brand-2 {
    display: flex;
}
}

#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
    padding-bottom: 2rem;

    overflow: hidden;

    @media (min-width: 768px) {
        padding-bottom: 0rem;
    }
    
    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
            grid-template-areas:    "headline"
                                    "content";

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:    "headline headline"
                                    "content images";
        }

        @media (min-width: 1400px) {
            grid-template-columns: 2fr 3fr;
            grid-template-areas:    "headline images"
                                    "content images";
        }
    }

    .headline {
        grid-area: headline;
        text-align: center;
        
        h1 {

            font-size: 34px;
            font-weight: 800;

            @media (min-width: 768px) {
                font-size: 56px;
            }

            @media (min-width: 1400px) {
                text-align: left;
            }
        }
    }

    .content {
        grid-area: content;
        text-align: center;


        @media (min-width: 768px) {
            text-align: left;
        }


        p {
            font-size: 18px;
            margin-bottom: 2rem;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width: 1400px) {
                flex-direction: row;
            }

        }

        .discover-more {
            color: var(--color-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;

            @media (min-width: 768px) {
                justify-content: flex-start;
                margin-bottom: 2rem;
            }

            @media (min-width: 1400px) {
                margin-top: 10rem;
            }
        }
    }

    .images {
        position: relative;
        grid-area: images;
        display: none; 
        margin-left: 3rem;

        @media (min-width: 768px) {
            display: block;
        }
        .img-back {
            position: absolute;
            z-index: -10;
            bottom: 0;
            width: 70%;
            right: 120px;
            height: 80%;


            @media (min-width: 1400px) {
                width: auto;
                bottom: -5px;
                right: 240px;
                height: 80%;
            }
                
            
        }

        .img-front {
            position: absolute;
            z-index: -5;
            bottom: 0;
            width: 70%;
            right: 0; 
            height: auto;

            @media (min-width: 1400px) {
                width: 50%;
                bottom: -10px;
            }
        }
    }


}

#features {
    grid-template-columns: 1fr 2fr;


.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:    "headline headline"
                            "image content";

    @media (min-width: 1400px) {
        text-align: left;
    }
}

.headline {
    grid-area: headline;
    text-align: center;
h1{
    font-size: 40px;
    font-weight: 800;
}


@media (min-width: 1400px) {
    text-align: left;
}


}

.content {
    grid-area: content;
    text-align: left;
    color: var(--color-gray600);
    padding-left: 5rem;
    }

.iphone {

.your-card {
    width: 70%;
    position: left;
    grid-area: image;
    margin-bottom: 3rem;
    padding-left: 1rem;
}

}

.nedre-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
    color: var(--color-gray900);
    }

    .features {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 20px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .text h3 {
        margin: 0;
        font-size: 22px;
        font-weight: bold;
    }

    .text p {
        margin: 5px 0 0 0;
        font-size: 16px;
        color: var(--color-gray700);
    }

}

#how-it-works {
    background-color: var(--color-gray100);
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.container-2 {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 50px;
}

.text-nedre {
    h3 {
    color: var(--color-gray900);
    font-size: 24px;
    font-weight: 800;     
    }
    

    p {
        color: var(--color-gray700);
        padding-bottom: 5rem;
    }
}

.make-money {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    .btn-learn-more {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-left: 10rem;
        padding: 10px 10px;
        background-color: var(--color-primary);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        margin-top: 2rem;
        
    }
    
    h2 {
        margin-left: 10rem;
        color: var(--color-gray900);
        font-size: 32px;
        font-weight: 800;
    }

    .p-1 {
        display: flex;
        margin-left: 10rem;
        color: var(--color-gray700);
        font-size: 16px;
        font-weight: 400;
        gap: .5rem;
    }

    .p-2 {
        display: flex;
        margin-left: 10rem;
        color: var(--color-gray700);
        font-size: 16px;
        font-weight: 400;
        margin-top: 1rem;
        gap: .5rem;
    }

    .p-3 {
        display: flex;
        margin-left: 10rem;
        color: var(--color-gray700);
        font-size: 16px;
        font-weight: 400;
        margin-top: 1rem;
        gap: .5rem;
    }

    .bild-uppe {
        margin-right: 7rem;
    }

}

.check-1 {
    position: relative;
}

.contacts {
    display: flex;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;

    .btn-learn-more {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        padding: 10px 10px;
        background-color: var(--color-primary);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        
    }

    h2 {
        color: var(--color-gray900);
        font-size: 32px;
        font-weight: 800;
    }

  .texter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 8rem;

    .text-1 {
        padding-bottom: 2rem;
    }

    p {
        padding-top: 1rem;
        color: var(--color-gray700);
        font-size: 16px;
        font-weight: 400;
    }
  }

  .contacts-bild {
    margin-left: 10rem;
  }


}

.clients {
    background-color: var(--color-gray100);
    display: flex;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;

    .container-5 {
        padding-top: 1rem;
        padding-left: 8rem;
        font-size: 40px;
        font-weight: 800;
        color: var(--color-gray900);
    }

    .bilder {
        padding-right: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
}

.subscribe {
    background-color: var(--color-gray100);
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;

    .container-6 {
        display: flex;
        align-items: center;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .klockan {
        display: flex;
        margin-right: 6rem;
    }

    .email {
        display: flex;
        padding-left: 8rem;
        position: relative;
    }

     .knapp {
        background-color: var(--color-primary);
        color: white;
        border: none;
        border-radius: 0 5px 5px 0;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
    }

    .input {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 400;
        padding-left: 2rem;
        border-radius: 5px 0 0 5px;
        border: 1px solid rgba(128, 128, 128, 0.256);
    }

    .form {
        display: flex;
        align-items: stretch;
    }

    .msg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: .5rem;
    }   
}



.faqs {
    display: grid;
    grid-template-columns: 1fr 1fr;


    .container-7 {
        h2 {
            font-size: 32px;
            font-weight: 800;
            color: var(--color-gray900);
            margin-left: 5rem;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            color: var(--color-gray700);
            margin-left: 2rem;
        }

        .övre {
            margin-left: 5rem;
        }
    }
}  
    
    .vänster {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .contact-box {
        padding: 20px;
        margin-left: 5rem;
        margin-top: 1rem;
        border: 1px solid #ddd;
        margin-bottom: 1rem;
        border-radius: 10px;

    .fa-solid {
        margin-left: 2rem;
        margin-bottom: 1rem;
        color: var(--color-primary);
    }

    }

    .contact-box-1 {
        padding: 20px;  
        margin-top: 1rem;
        margin-left: 2rem;
        border: 1px solid #ddd;
        margin-bottom: 1rem;
        border-radius: 10px;

        p {
            font-size: 14px;
            font-weight: 400;
            color: var(--color-gray700);
        }
    }

    

    .fa-comment-dots {
        margin-left: 2rem;
        margin-bottom: 1rem;
        color: var(--color-green);
    }

    .contact {
        margin-left: 2rem;
        font-weight: 600;
        font-size: 14px;
    }

    .contact-1 {
        margin-left: 2rem;
        color: var(--color-green);
        font-weight: 600;
        font-size: 14px;

        .fa-solid {
            color: var(--color-green);
        }
    }

    .container-8 {
        display: grid;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;

        .item {
            background-color: #ddd;
            border: none;
            box-shadow: 1px 1px 1px 1px solid;
            margin-bottom: 5px;
            margin-right: 5rem;
            margin-top: 1rem;
            margin-left: 6rem;
            
        }

        .question {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
        font-size: 16px;
        background-color: #fff;
        border: none;
        font-weight: 600;
        color: var(--color-gray900);
        box-shadow: 3px 3px var(--color-gray100);
        

            .arrow-1 {
                color: var(--color-gray800);
            }

        .btn-circle {
            background-color: var(--color-gray100);
            border: none;
        }

        .h3 {
            display: flex;
            font-size: 16px;
            font-weight: 600;
            color: var(--color-gray900);
        }

        .p {
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            color: var(--color-gray700);
        }

        .btn-circle-1 {
            height: 44px;
            width: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: none;
            background-color: var(--color-primary);
            position: absolute;
            bottom: 2rem;
            left: -2.7rem;
        }

        .arrow-2 {
            color: var(--color-white);
            position: relative;
            margin-bottom: 1rem;
        }
        }

    }